/* Reset */
* {
    margin: none;
    padding: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Style */
body {
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(20, 20, 20);
}

.title {
    font-size: 30px;
    
    text-align: center;

    color: #fff;
    font-family: Righteous;
}

#addTarefa {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #fff;

    box-sizing: border-box;
}

#escreveTarefa {
    width: 400px;
    width: 400px;
    height: 40px;
    padding: 0 25px;

    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Comfortaa', cursive;
}

.buttonAdd {
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 30px;

    background-color: #fff;
}

#tarefasQuantidade{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    border-top: 2px solid #fff;
}

.text {
    width: 200px;
    height: 10px;
    font-weight: 300;
    font-size: 14px;

    text-align: center;

    color: white;
    font-family: 'Comfortaa', cursive;
}