/* Reset */
* {
    margin: none;
    padding: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Style */
body {
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(20, 20, 20);
}

.title {
    font-size: 30px;
    
    text-align: center;

    color: #fff;
    font-family: Righteous;
}

#todo {
    width: 500px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#barra {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid #fff;
    
}

.escreve {
    width: 500px;
    height: 40px;
    padding: 0 30px;
    
    background-color: rgb(20, 20, 20);
    color: rgb(255, 187, 0);
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

.buttonAdd {
    width: 40px;
    height: 40px;
    font-size: 30px;

    background-color: #fff;
}

/* TAREFAS */
#todoList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkboxTarefa, .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.texto {
    width: 430px;
    height: auto;

    display: flex;
    align-items: center;
    gap: 20px;
}

.tarefa {
    font-size: 16px;
    
    color: white;
    font-family: 'Comfortaa', cursive;
}

.lixeira, .ok, .pendente {
    width: 20px;
    height: auto;
    
    color: white;
}

/* QUANTIDADE */
#tarefasQuantidade{
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-top: 2px solid #fff;
}

.quantidade {
    display: flex;
    gap: 10px;
}

.text {
    font-size: 14px;
    
    color: white;
    font-family: 'Comfortaa', cursive;
}