/* Reset */
* {
    margin: none;
    padding: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Style */
body {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px 0;

    background-color: rgb(20, 20, 20);
}

h2 {
    font-size: 50px;
}

.title {
    font-size: 20px;
    
    text-align: center;

    color: #fff;
    font-family: Righteous;
}

#lista {
    width:500px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#display {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid #fff;
}

#display:after {
    border: 2px solid rgb(255, 38, 0);
}

.escreveDisplay {
    width: 500px;
    height: 40px;
    padding: 0 30px;
    
    background-color: rgb(20, 20, 20);
    color: rgb(255, 38, 0);
    font-family: 'Comfortaa', cursive;

    box-sizing: border-box;
}

.buttonBuscar {
    width: 40px;
    height: 40px;
    font-size: 30px;

    background-color: rgb(255, 255, 255);
}

.buscar {
    width: 20px;
    height: auto;
    
    color: rgb(0, 0, 0);
}

#repositorios {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: 'Comfortaa', cursive;
    color: white;
}

.titleRepositorios {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #fff
}

.repositorio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}